beautifulsoup4==4.10.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
cheroot==8.5.2
CherryPy==18.6.1
click==8.0.3
cryptography==35.0.0
cymem==2.0.6
docx==0.2.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
feedparser==6.0.8
idna==3.3
importlib-resources==5.4.0
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.text==3.6.0
Jinja2==3.0.2
joblib==1.1.0
langcodes==3.2.1
lxml==4.6.4
MarkupSafe==2.0.1
more-itertools==8.10.0
murmurhash==1.0.6
nltk==3.6.5
numpy==1.21.4
packaging==21.2
pathy==0.6.1
pattern3==3.0.0
pdfminer.six==20211012
pdfminer3k==1.3.4
Pillow==8.4.0
ply==3.11
portend==3.0.0
preshed==3.0.6
pycparser==2.20
pydantic==1.8.2
pyparsing==2.4.7
pytz==2021.3
regex==2021.11.2
requests==2.26.0
sentencepiece==0.1.96
sgmllib3k==1.0.0
simplejson==3.17.5
six==1.16.0
smart-open==5.2.1
soupsieve==2.3
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
tempora==4.1.2
thinc==8.0.13
tqdm==4.62.3
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.8.2
zc.lockfile==2.0
zipp==3.6.0
